body {
	margin: 0;
	padding: 0;
	background: #fff;
	font-size: 14px;
	line-height: 1.5;
}
.container {
	width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
	padding-bottom: 0 15px;
}
.left {
		float: left;
}
.right {
		float: right;
}
.clr {
		clear: both;
}


h1 {
    margin: auto;
    margin-top: 25px;
    text-align: center;
    padding-bottom: 20px;
}
p {
    margin: auto;
    padding: 0 20px 0 20px;
}