body {
	font-family: "Roboto Condensed",sans-serif;
}
html {
    scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
ul {
	margin: 0;
	padding: 0;
}
.left {
	float:left;
}
.right {
	float:right;
}
.clr {
	clear:both;
}
@media (max-width: 376px) { 
	.main .type .text .title h3 {
        font-size: 16px!important;
    }
}
.header {
    background: #fff;

}
.header .logo a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
.navbar {
    display: none;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    background: #fff;
    padding: 40px;
}
.navbar .logo {
    margin: auto;
    width: 350px;
    padding: 20px 20px 25px 20px;
}
.navbar .logo .hamburger {
    cursor: pointer;
    float: right;
    font-size: 30px;
    color: #6b46f3;
    margin: auto;
}
.navbar .logo img {
    width: 154px;
    height: auto;
}
.navbar .menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar .menu li {
    padding: 5px 0;
    list-style: none;
}
.navbar .menu li a {
    border-radius: 5px;
    display: block;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color:#8d8d8d;
    padding: 10px 70px 10px 30px;
    transition: all 0.25s ease;
}
.navbar .menu li a:hover {
    background: #6b46f3;
    color: #fff;
}
.navbar .banner {
    margin: auto;
    text-align: center;
}
.home {
    background: #fff;
    display: block;
}
.header {
    background: #6b46f3;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header .logo a {
    font-size: 26px;
    line-height: 1.2;
    text-transform: uppercase;
}
.header .menu-button a {
    line-height: 1;
    font-size: 30px;
    padding-right: 15px;
    padding-left: 15px;
    color: #fff;
}
.main {
    padding: 0 30px;
}
.main .search-bar {
    padding: 15px 0px;
    width: 100%;
}
.main .search-bar input {
    position: relative;
    background: #fff;
    width: 100%;
    padding: 10px;
    border: 1px solid #8d8d8d;
    border-radius: 5px;
}
.main .search-bar button {
    position: absolute;
    margin-left: -2.5em;
    border: none;
    background: none;
}
.main .search-bar button i {
    font-size: 25px;
    line-height: 1.8;
    color: #6b46f3;
}
.main .type {
    display: flex;
    margin: 0;
    padding-right: 0;
    padding-left: 0;
    padding-top: 20px;
}
.main .type .image img {
    width: 120px;
    height: auto;
}
.main .type .text {
    margin-left: 15px;
    padding: 0;
}
.main .type .text .title h3 {
    font-size: 18px;
    font-weight: 600;
}
.main .type .text .date i {
    margin-right: 10px;
    color: #0669FC;
    font-size: 20px;
    line-height: 1.2;
}
.main .type .text .date p {
    color: #8d8d8d;
    font-size: 16px;
    margin: 0;
}
.main .type .text .source span {
    font-size: 16px;
    color: #0669FC;
    margin-right: 10px;
    line-height: 1;
}
.main .type .text .source img {
    height: 15px;
    width: auto;
}
.footer {
    position: fixed;
    bottom: 0;
    background: #fff;
    width: 100%;
    text-align: center;
}
.footer img {
    width: auto;
    height: 100%;
}