body {
	font-family: "Ubuntu",Tahoma,Geneva,sans-serif;
    background: #333;
}
html {
    scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
ul {
	margin: 0;
	padding: 0;
}
.left {
	float:left;
}
.right {
	float:right;
}
.clr {
	clear:both;
}
@media (max-width: 576px) {
	.main .bottom .b-left {
        margin-top: 50px!important;
        margin-bottom: 0px!important;
    }
}
@media (min-width: 768px) { 
	
}
@media (min-width: 992px) {
	
}
@media (min-width: 1200px) { 
	
}
h4 {
    text-align: center;
    color: #ccc;
    font-size: 70px;
    margin-top: 30%;
}