body {
	font-family: "Ubuntu",Tahoma,Geneva,sans-serif,Arial, serif;
}
html {
scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
ul {
	margin: 0;
	padding: 0;
}
.left {
	float:left;
}
.right {
	float:right;
}
.clr {
	clear:both;
}
@media (min-width: 576px) {
	
}
@media (min-width: 768px) { 
	
}
@media (min-width: 992px) {
	
}
@media (min-width: 1200px) { 
	
}
.divider {
    width: 120px;
    height: 3px;
    background: #68a8e3;
    margin: 0 auto 30px;
}
.header.active {
    background: #68a8e3;
    transition: all 0.3s  ease;
}
.header.active .menu li a:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
}
.header {
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    transition: all 0.3s  ease;
}
.header .logo {
	margin: 0 15px;
}
.header .logo img {
	width: 170px;
}
.header .logo a {
    font-size: 16px;
    color: #fff;
    font-family: 'Ubuntu';
    font-weight: 500;
    text-decoration: none;
}
.header .menu  {
}
.header .menu li {
    list-style: none;
    display: inline-block;
}
.header .menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    margin: 5px 10px;
    padding-bottom: 3px;
    transition: all 0.3s ease;
}
.header .menu li a:hover {
    color: #fff;
    border-bottom: 2px solid #68a8e3;
}
.bg {
	height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
}
.caption {
    position: relative;
    height: 100vh;
    display: flex;
}
.caption-text {
    position: absolute;
    top: 35%;
    color: #fff;
}
.caption-text h1 {
    font-size: 3.5rem;
}
.caption-text h4 span {
    color: #DE3163 ;
}
.caption-text .button {
    position: relative;
    background: #68a8e3;
    display: inline-block;
    color: #fff;
    margin-top: 30px;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 6px;
    border: 2px  solid #68a8e3;
    transition: all 0.3s ease;
    
}
.caption-text .button:hover {
    background: none;
    color: #fff;
}
.about {
    position: relative;
    padding: 50px;
    background: url(images/bgA.jpg) no-repeat;
    background-size: cover;
}
.about-section {
    background: url(images/about-bg.jpg) no-repeat left;
    background-size: 60%;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 100px;
    box-shadow: 1px 1px 3px 3px #888888;
    margin-right: 25px;
}

.inner-container h1{
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}
.about-section .text {
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
    font-family: Roboto;
    font-style: italic;
    font-size: 16px;
}
.title {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #000;
    text-align: center;
}
.title h1 {
    font-size: 2rem;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
}
.hobby {
    position: relative;
    height: auto;
    width: 100%;
    padding: 0;
}
.hobby .title {
    padding: 25px;
    background: #68a8e3;
    color: #fff;
}
.hobby .photo {
    width: 100%;
    height: 400px;
    position: relative;
    background-color: #5f6366;
    cursor: pointer;
    overflow: hidden;
}
.hobby .photo .photo-bg {
    position: absolute;
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
    transition: all 0.3s ease;
}
.hobby .photo  a {
    color: #d4d6d7;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.hobby .photo  a:hover .photo-bg {
    height: 520px;
    opacity: 1;
    
}
.hobby .photo  a:hover h1 {
    letter-spacing: 3px;
}
.hobby .photo a h1 {
    color: white;
    font-size: 1.33333333em;
    line-height: 9em;
    text-shadow: rgb(0 0 0 / 30%) 2px 1px 0;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    position: relative;
    z-index: 2;
    top: 108px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    transition: all 0.3s ease;
    text-transform: uppercase;
}
.family {
    position: relative;
    height: auto;
    width: 100%;
    padding: 50px 0;
}
.contact {
	padding: 50px 0;
	text-align: center;
}
.contact .contact-type {
	overflow: hidden;
}
.contact .contact-type:hover .contact-icon i {
	color: #fff;
	background: #68a8e3;
	border-radius: 100%;
	padding: 5px 10px;
}
.contact .contact-type .contact-icon {
	text-align: center;
	color: #68a8e3;
    font-size: 15px;
    line-height: 1.5;
}
.contact .contact-type .contact-icon h3 {
	font-size: 17px;
	font-family: roboto;
    font-weight: 500;
	color: #333;
	line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
}
.contact .contact-type .contact-icon i {
	font-size: 48px;
	color: #68a8e3;
	transition: all 0.3s ease-out;
	padding: 5px 10px;
}
.contact .contact-type .contact-detail {
	text-align: center;
	color: #888888;
    font-size: 15px;
    line-height: 1.5;
}
.contact .map {
    position: relative;
    margin: 0 30px;
}
.contact .map .overplay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: #000;
    opacity: 0.3;
}
.footer {
    background: #ccc;
}
.footer p {
    padding-top: 15px;
}
