body {
	font-family: "Ubuntu",Tahoma,Geneva,sans-serif;
    background: #222;
}
html {
    scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
ul {
	margin: 0;
	padding: 0;
}
.left {
	float:left;
}
.right {
	float:right;
}
.clr {
	clear:both;
}
@media (max-width: 576px) {
	.fix img {
        width: 100%!important;
    }
    .fix h4 {
        font-size: 2em!important;
    }
}
.fix {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.fix img {
    width: auto;
    height: auto;
}
.fix h4 {
    color: #8b9091;
    font-size: 3em;
    margin: 15px 0;
}
h3 {
    padding: 20px;
    font-size: 1.5em;
    color: #fff;
}
p {
    color: #8b9091;;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}
span {
    color: #fff;
}
.main {
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
    text-align: center;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.main li {
    list-style: none;
    padding: 18px;
}
.main li a {
    padding: 15px;
    color: #8b9091;
    font-size: 1.2em;
    transition: all 0.25s ease-in-out;
}
.main li a:hover {
    color: #fff;
}
.text {
    color: #fff;
    font-weight: 550;
    font-size: 18px;
}
.weak {
    color: yellow;
}
.medium {
    color: orange;
}
.strong {
    color: green;
}
.password {
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
    text-align: center;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.password input {
    padding: 10px 15px;
}